body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans Caption", Helvetica, Arial, sans-serif;
}
.track-list {
  border-collapse: collapse;
}
.track-list th {
  font-size: 12px;
}
.track-list .artwork img {
  width: 50px;
  height: 50px;
  font-size: 10px;
  color: #999;
}
.track-list tbody tr:nth-child(odd) {
  background: #f0f0f0;
}
.track-list td span {
  padding: 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px;
  display: inline-block;
}
.track-list td i {
  font-size: 28px;
  color: #45789a;
  margin-left: 15px;
  vertical-align: -5px;
}
.track-list td i:hover {
  color: #459a68;
  cursor: pointer;
}
header {
  background: #f0f0f0;
  height: 50px;
  width: 100%;
  margin-bottom: 50px;
}
header ul.main-nav {
  list-style-type: none;
  text-align: center;
  padding: 20px 0 0 0 ;
  margin: 0;
}
header ul.main-nav li {
  display: inline;
  margin: 0 10px;
}
.wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
}
.wrapper aside {
  width: 30%;
  float: left;
}
.wrapper .main {
  width: 70%;
  float: right;
}
.genre-list {
  font-size: 2em;
  color: #ccc;
}
