  
  <li><a href="/rock" data-name="rock">Rock</a></li>
  <li><a href="/ambient" data-name="ambient">Ambient</a></li>
  <li><a href="/classical" data-name="classical">Classical</a></li>
  <li><a href="/country" data-name="country">Country</a></li>
  <li><a href="/dance" data-name="dance">Dance</a></li>
  <li><a href="/house" data-name="house">House</a></li>
  <li><a href="/disco" data-name="disco">Disco</a></li>


