  
  <li><a href="#" data-genre="rock">Rock</a></li>
  <li><a href="#" data-genre="ambient">Ambient</a></li>
  <li><a href="#" data-genre="classical">Classical</a></li>
  <li><a href="#" data-genre="country">Country</a></li>
  <li><a href="#" data-genre="dance">Dance</a></li>
  <li><a href="#" data-genre="house">House</a></li>
  <li><a href="#" data-genre="disco">Disco</a></li>


